extends layout.pug

block content
  h2 Profile
  div(style='margin-top: 1em;')
    .columns(style='margin-top: 1em;')
      .column.is-narrow
        .box
          .columns
            .column
              figure.image.is-square(style='display: inline-block; width: 90%;')
                img.is-rounded(src=req.user.pfp, style='object-fit: cover;')
            .column.is-narrow
            .column
              span.is-size-3= req.user._id
              br
              br
              form(action=`${_CC.config.base}profile/pfp`, method='POST')
                label.label Image URL
                .field.has-addons
                  .control
                    input.input(name='image', value=req.user.pfp)
                  .control
                    button.button.is-primary(type='submit')
                      span.icon
                        i.fas.fa-save
  h2 Security
  a.button.is-primary(href=`${_CC.config.base}profile/password`)
    span.icon
      i.fas.fa-shield-alt
    span Change Password
