extends layout.pug

mixin icon(c, text)
  .columns.is-vcentered.is-mobile
    .column.is-narrow
      span.icon.is-large
        i.fa-3x(class=c)
    .column #{text}

block title
  if doc
    h1 #{config.siteTitle} | Reset Password
  else
    h1 #{config.siteTitle} | Reset Link Invalid

block content
  if doc
    if doc.pwExpiry > new Date().getTime()
      +icon('fas fa-smile-beam', `Hello ${doc._id}! Please set your password here.`)
      form(method='POST')
        .field
          label.label Password
          .control.has-icons-left
            input.input(type='password', name='password', placeholder='pa$$word!')
            span.icon.is-small.is-left
              i.fas.fa-lock
        .field
          .control
            input.button.is-primary(type='submit' value=`Reset Password`)
    else
      +icon('fas fa-frown-open', 'Your reset link has expired. Please ask for a new one.')
  else
    +icon('fas fa-frown-open', "This reset link isn't valid, perhaps the link was canceled or some characters at the end got cut off?")
          
