extends layout.pug

block content
  h2= lang('SETUP_ADMIN_USER')
  form(action=`${_CC.config.base}setup`, method='POST')
    .field
      label.label= lang('SETUP_USERNAME')
      .control.has-icons-left
        input.input(type='text', name='adminUsername', placeholder=lang('SETUP_USERNAME_PLACEHOLDER'))
        span.icon.is-small.is-left
          i.fas.fa-user
    .field
      label.label= lang('SETUP_PASSWORD')
      .control.has-icons-left
        input.input(type='password', name='adminPassword', placeholder=lang('SETUP_PASSWORD_PLACEHOLDER'))
        span.icon.is-small.is-left
          i.fas.fa-lock
    .field
      .control
        input.button.is-primary(type='submit' value=lang('SETUP_BUTTON'))