extends layout.pug

block content
  ul.noStyle.noLeftMargin
    if req.user._id !== 'Unknown'
      li
        a(href=`${_CC.config.base}wishlist/${req.user._id}`)
          .box
            span=req.user._id
              span : ???/???
              progress.progress(value=1, max=1)
    each user in users
      if req.user._id !== user.id
        li
          a(href=`${_CC.config.base}wishlist/${user.id}`)
            .box
              span= user.id
              span : #{totals(user.doc.wishlist).pledged}/#{user.doc.wishlist.length}
              progress.progress.is-info(value=totals(user.doc.wishlist).pledged, max=user.doc.wishlist.length)