extends layout.pug

block content
  h2= lang('ADMIN_SETTINGS_USERS_HEADER')
  table.table 
    thead   
      th=lang('ADMIN_SETTINGS_TABLE_USERNAME')
      th=lang('ADMIN_SETTINGS_TABLE_ADMIN_USER')
      th=lang('ADMIN_SETTINGS_TABLE_PLEDGE_ONLY')
      th=lang('ADMIN_SETTINGS_TABLE_WISHLIST_COUNT')
      th=lang('ADMIN_SETTINGS_TABLE_EDIT')
    tbody 
      each user in users
        tr(id=user.id)
          td=user.id
          td=user.doc.admin
          td=user.doc.pledgeOnly
          td=Object.keys(user.doc.wishlist).length
          td
            a(href=`${_CC.config.base}admin-settings/edit/${user.id}`)
              span.is-size-7.icon.has-text-info
                i.fas.fa-edit
              span.is-sr-only
                = lang('ADMIN_SETTINGS_USERS_EDIT')
    br
  h3= lang('ADMIN_SETTINGS_USERS_ADD_HEADER')
  form(action=`${_CC.config.base}admin-settings/add`, method='POST')
    .field
      p.has-text-danger#error-label= add_user_error
      label.label= lang('ADMIN_SETTINGS_USERS_ADD_USERNAME')
      .control.has-icons-left
        input.input(type='text', name='newUserUsername', placeholder=lang('ADMIN_SETTINGS_USERS_ADD_PLACEHOLDER'))
        span.icon.is-small.is-left
          i.fas.fa-user
    .field
      label.label= lang('ADMIN_SETTINGS_USERS_ADD_PLEDGE_ONLY')
      .control.has-icons-left
        input(type='checkbox', name='newPledgeOnlyUser')
    .field
      .control
        input.button.is-primary(type='submit' value=lang('ADMIN_SETTINGS_USERS_ADD_BUTTON'))
  h3= lang('ADMIN_SETTINGS_CLEARDB_HEADER')
  p!= lang('ADMIN_SETTINGS_CLEARDB_DESCRIPTION')
  a.button.is-danger(href=`${_CC.config.base}admin-settings/clear-wishlists`)= lang('ADMIN_SETTINGS_CLEARDB_BUTTON')
  h3= lang('ADMIN_SETTINGS_VERSION_INFO')
  p Christmas Community: v#{_CC.packageJson.version}
  p Get Product Data: v#{_CC.GetProductData.version}
  p Node: #{process.version}
  p PID: #{process.pid}