extends layout.pug

block content
  form(method='POST')
    .field
      label.label= lang('LOGIN_USERNAME')
      .control.has-icons-left
        input.input(type='text', name='username', placeholder=lang('LOGIN_USERNAME_PLACEHOLDER'))
        span.icon.is-small.is-left
          i.fas.fa-user
    .field
      label.label= lang('LOGIN_PASSWORD')
      .control.has-icons-left
        input.input(type='password', name='password', placeholder=lang('LOGIN_PASSWORD_PLACEHOLDER'))
        span.icon.is-small.is-left
          i.fas.fa-lock
    .field
      .control
        input.button.is-primary(type='submit' value=lang('LOGIN_BUTTON'))
  br
  p
    if oidcEnabled
      a.button.is-primary(href="/auth/oidc")
        i.fas.fa-key
        |&nbsp;&nbsp;#{lang('LOGIN_OIDC_BUTTON')}
  if _CC.config.customHtml.login
    div!= _CC.config.customHtml.login