extends layout.pug

mixin sharedInfoProp(key, label)
  .column
    label.label= lang(label)
    .field.has-addons
      .control
        input.input(name=key, value=req.user.info && req.user.info[key] || '')
      .control
        button.button.is-primary(type='submit')
          span.icon
            i.fas.fa-save

block content
  if config.pfp
    h2= lang('PROFILE_HEADER')
    div(style='margin-top: 1em;')
      .columns(style='margin-top: 1em;')
        .column.is-narrow
          .box
            .columns
              .column
                figure.image.is-square(style='display: inline-block; width: 90%;')
                  img.is-rounded(src=req.user.pfp, style='object-fit: cover;')
              .column.is-narrow
              .column
                span.is-size-3= req.user._id
                br
                br
                form(action=`${_CC.config.base}profile/pfp`, method='POST')
                  label.label= lang('PROFILE_PFP_IMAGE_URL')
                  .field.has-addons
                    .control
                      input.input(name='image', value=req.user.pfp)
                    .control
                      button.button.is-primary(type='submit')
                        span.icon
                          i.fas.fa-save
  h2= lang('PROFILE_SHARED_INFORMATION')
  form(action=`${_CC.config.base}profile/info`, method='POST')
    .columns.is-multiline.is-mobile
      .column.is-narrow
        +sharedInfoProp('shoeSize', 'PROFILE_SHOE_SIZE')
        +sharedInfoProp('ringSize', 'PROFILE_RING_SIZE')
        +sharedInfoProp('dressSize', 'PROFILE_DRESS_SIZE')
      .column.is-narrow
        +sharedInfoProp('sweaterSize', 'PROFILE_SWEATER_SIZE')
        +sharedInfoProp('shirtSize', 'PROFILE_SHIRT_SIZE')
        +sharedInfoProp('pantsSize', 'PROFILE_PANTS_SIZE')
      .column.is-narrow
        +sharedInfoProp('coatSize', 'PROFILE_COAT_SIZE')
        +sharedInfoProp('hatSize', 'PROFILE_HAT_SIZE')
        +sharedInfoProp('phoneModel', 'PROFILE_PHONE_MODEL')

  h2= lang('PROFILE_SECURITY')
  a.button.is-primary(href=`${_CC.config.base}profile/password`)
    span.icon
      i.fas.fa-shield-alt
    span= lang('PROFILE_SECURITY_CHANGE_PASSWORD')
