extends layout.pug

block content
  a.button(href=`${_CC.config.base}profile`)= lang('BACK_BUTTON')
  form(method='POST')
    .field
      label.label= lang('PROFILE_PASSWORD_OLD')
      .control.has-icons-left
        input.input(type='password', name='oldPassword', placeholder=lang('PROFILE_PASSWORD_PLACEHOLDER'))
        span.icon.is-small.is-left
          i.fas.fa-lock
    .field
      label.label= lang('PROFILE_PASSWORD_NEW')
      .control.has-icons-left
        input.input(type='password', name='newPassword', placeholder=lang('PROFILE_PASSWORD_PLACEHOLDER'))
        span.icon.is-small.is-left
          i.fas.fa-lock
    .field
      .control
        input.button.is-primary(type='submit' value=lang('PROFILE_PASSWORD_BUTTON'))
          
