extends layout.pug

mixin sharedInfoProp(key, label)
  if sharedInfo[key] && sharedInfo[key].length > 0
    tr
      th= lang(label)
      td= sharedInfo[key]

mixin wishlistTable(items, archived)
  .box
    table.table.has-mobile-cards
      thead
        th #
        th(style='width: 10%;')= lang('WISHLIST_IMAGE')
        th(style='width: 20%;')= lang('WISHLIST_NAME')
        th(style='width: 30%;')= lang('WISHLIST_NOTE')
        th(style='width: 10%;')= lang('WISHLIST_PRICE')
        th= lang('WISHLIST_ADDED_BY')
        if !(req.params.user === req.user._id)
          th(style='width: 10%;')= lang('WISHLIST_PLEDGE')
        else
          th(style='width: 10%;')= lang('WISHLIST_ITEM_OPTIONS')
      tbody
        each item, index in items
          tr(id=item.id)
            td.rank= index + 1
            td
              figure(style='width: 100%; margin: 0;')
                img(src=item.image, style='width: 100%; max-height: 20em; object-fit: contain;')
            if item.url
              td.ugc(data-label=lang('WISHLIST_NAME'))
                if item.pledgedBy && item.addedBy != req.user._id
                  strike
                    a(
                      href=item.url,
                      rel='noopener noreferrer',
                      target='_blank'
                    )= (item.name ? item.name : item.url)
                else
                    a(
                      href=item.url,
                      rel='noopener noreferrer',
                      target='_blank'
                    )= (item.name ? item.name : item.url)
            else
              td.ugc(data-label='Name')
                if item.pledgedBy && item.addedBy != req.user._id
                  strike
                    span= item.name
                else 
                  span= item.name
            if _CC.config.wishlist.note.markdown
              td.ugc(data-label=lang('WISHLIST_NOTE'))
                div!= compiledNotes[item.id]
            else
              td.ugc(data-label=lang('WISHLIST_NOTE'))= item.note
            td.ugc(data-label=lang('WISHLIST_PRICE'))= item.price
            if item.addedBy === '_CCUNKNOWN'
              td.ugc(data-label=lang('WISHLIST_ADDED_BY'))= lang('WISHLIST_ADDED_BY_GUEST')
            else 
              td.ugc(data-label=lang('WISHLIST_ADDED_BY'))= item.addedBy
            if !(req.params.user === req.user._id)
              td(data-label=lang('WISHLIST_PLEDGE'))
                if req.params.user !== req.user._id && !item.pledgedBy && !item.archived
                  form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/pledge/${item.id}`)
                    .field.inline
                      .control.inline
                        input.inline.button.is-primary(type='submit' value=lang('WISHLIST_PLEDGE_ITEM'))
                if item.pledgedBy === req.user._id
                  form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/unpledge/${item.id}`)
                    .field.inline
                      .control.inline
                        input.inline.button(type='submit' value=lang('WISHLIST_UNPLEDGE'))
                if item.pledgedBy && item.pledgedBy !== req.user._id
                  if item.pledgedBy === '_CCUNKNOWN'
                    span.ugc=lang('WISHLIST_PLEDGED_GUEST')
                  else
                    span.ugc=lang('WISHLIST_PLEDGED', item.pledgedBy)
            if req.params.user === req.user._id
              td(data-label=lang('WISHLIST_ITEM_OPTIONS'))
                div.dropdown.is-right.is-hoverable
                  div.dropdown-trigger
                    button.button.is-primary(
                      aria-haspopup='true',
                      aria-controls=`dropdown-menu${index}`
                    )
                      span.icon
                        i.fas.fa-cog
                  div.dropdown-menu(id=`dropdown-menu${index}`, role='menu')
                    div.dropdown-content
                      form.inline(method='GET', action=`${_CC.config.base}wishlist/${req.params.user}/note/${item.id}`)
                        button.button.dropdown-item.is-text(
                          type='submit'
                        )
                          span= lang('WISHLIST_EDIT_ITEM')
                          i.far.fa-edit

                      if !archived
                        form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/move/up/${item.id}`)
                          button.button.dropdown-item.is-text(
                            type='submit',
                            disabled=index === 0
                          )
                            span= lang('WISHLIST_MOVE_ITEM_UP')
                            i.fas.fa-arrow-up

                        form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/move/down/${item.id}`)
                          button.button.dropdown-item.is-text(
                            type='submit',
                            disabled=index === items.length - 1
                          )
                            span= lang('WISHLIST_MOVE_ITEM_DOWN') 
                            i.fas.fa-arrow-down

                        form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/move/top/${item.id}`)
                          button.button.dropdown-item.is-text(
                            type='submit',
                            disabled=index === 0
                          )
                            span= lang('WISHLIST_MOVE_ITEM_TOP') 
                            i.fas.fa-angle-double-up

                        form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/move/bottom/${item.id}`)
                          button.button.dropdown-item.is-text(
                            type='submit',
                            disabled=index === items.length - 1
                          )
                            span= lang('WISHLIST_MOVE_ITEM_BOTTOM') 
                            i.fas.fa-angle-double-down
                      
                      hr.dropdown-divider
                      if !archived
                        form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/archive/${item.id}`)
                          button.button.dropdown-item.is-text.has-text-danger(
                            type='submit'
                          )
                            span= lang('WISHLIST_ARCHIVE') 
                            i.fas.fa-archive
                      else
                        form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/restore/${item.id}`)
                          button.button.dropdown-item.is-text.has-text-danger(
                            type='submit'
                          )
                            span= lang('WISHLIST_RESTORE') 
                            i.fas.fa-restore
                  

mixin wishlistBox(items, archived)
  each item, index in items
    if req.user._id === item.addedBy || req.params.user !== req.user._id
      .box
        if item.price
          .tag
            i.fas.fa-tag(style='margin-right: .5em;')
            span= item.price
        span.overflowWrap
          if item.price
            span= ' '
          if item.url
            if item.pledgedBy && item.addedBy != req.user._id
              strike
                a(
                  href=item.url,
                  rel='noopener noreferrer',
                  target='_blank'
                )= (item.name ? item.name : item.url)
            else
              a(
                href=item.url,
                rel='noopener noreferrer',
                target='_blank'
              )= (item.name ? item.name : item.url)
          else
            if item.pledgedBy && item.addedBy != req.user._id
              strike
                span= item.name
            else
              span= item.name
        hr
        if item.note || item.image
          .columns
            if item.image
              .column
                figure(style='width: 100%; padding: 2em;')
                  img(src=item.image, style='width: 100%;')
            .column.is-three-quarters
              if item.note
                textarea.textarea.has-fixed-size(
                  style='height: 100%;'
                  readonly
                )= item.note
        if item.addedBy === '_CCUNKNOWN'
          span.overflowWrap=lang('WISHLIST_ADDED_BY', lang('WISHLIST_ADDED_BY_GUEST'))
        else 
          span.overflowWrap=lang('WISHLIST_ADDED_BY', item.addedBy)
        hr
        div
          if req.params.user !== req.user._id && !item.pledgedBy
            form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/pledge/${item.id}`)
              .field.inline
                .control.inline
                  input.inline.button.is-primary(type='submit' value=lang('WISHLIST_PLEDGE'))
          if item.pledgedBy === req.user._id
            form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/unpledge/${item.id}`)
              .field.inline
                .control.inline
                  input.inline.button(type='submit' value=lang('WISHLIST_UNPLEDGE'))
          if req.user._id === req.params.user
            form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/remove/${item.id}`, onsubmit=`return confirm("${lang('WISHLIST_DELETE_CONFIRM')}")`)
              .field.inline
                .control.inline
                  input.inline.button.is-danger(type='submit' value=lang('WISHLIST_DELETE'))
          if req.user._id === req.params.user || req.user._id === item.addedBy
            form.inline(method='GET', action=`${_CC.config.base}wishlist/${req.params.user}/note/${item.id}`)
              .field.inline
                .control.inline
                  input.inline.button(type='submit', value=lang('WISHLIST_EDIT_ITEM'))
            if !archived
              if index !== 0 && req.user._id === req.params.user
                form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/move/up/${item.id}`)
                  .field.inline
                    .control.inline
                      input.inline.button(type='submit' value=lang('WISHLIST_MOVE_ITEM_UP'))
              if index !== items.length - 1 && req.user._id === req.params.user
                form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/move/down/${item.id}`)
                  .field.inline
                    .control.inline
                      input.inline.button(type='submit' value=lang('WISHLIST_MOVE_ITEM_DOWN'))
              if index !== items.length - 1 && req.user._id === req.params.user
                form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/move/bottom/${item.id}`)
                  .field.inline
                    .control.inline
                      input.inline.button(type='submit' value=lang('WISHLIST_MOVE_ITEM_BOTTOM'))
          if req.user._id === req.params.user
            if !archived
              form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/archive/${item.id}`)
                .field.inline
                  .control.inline
                    input.inline.button.is-warning(type='submit' value=lang('WISHLIST_ARCHIVE'))
            else 
              form.inline(method='POST', action=`${_CC.config.base}wishlist/${req.params.user}/restore/${item.id}`)
                .field.inline
                  .control.inline
                    input.inline.button.is-success(type='submit' value=lang('WISHLIST_RESTORE'))

block title
  h1
    .level
      .level-left
        .level-item
          button.button.is-rounded(onclick='this.firstChild.firstChild.classList.add("fa-pulse"); location.reload()')
            span.icon
              i.fas.fa-sync-alt
        .level-item
          span= lang('WISHLIST_TITLE', name)
      .level-right
        .level-item 
          a(href="#addWishlistItem").button.button.is-primary.is-rounded
            span.icon
              i.fas.fa-plus
            span= lang('WISHLIST_ADD_NEW')
              

block content
  script(type='data/user_id')= req.user._id
  table.table(style='width: fit-content;')
    tbody
        +sharedInfoProp('shoeSize', 'PROFILE_SHOE_SIZE')
        +sharedInfoProp('ringSize', 'PROFILE_RING_SIZE')
        +sharedInfoProp('dressSize', 'PROFILE_DRESS_SIZE')
        +sharedInfoProp('sweaterSize', 'PROFILE_SWEATER_SIZE')
        +sharedInfoProp('shirtSize', 'PROFILE_SHIRT_SIZE')
        +sharedInfoProp('pantsSize', 'PROFILE_PANTS_SIZE')
        +sharedInfoProp('coatSize', 'PROFILE_COAT_SIZE')
        +sharedInfoProp('hatSize', 'PROFILE_HAT_SIZE')
        +sharedInfoProp('phoneModel', 'PROFILE_PHONE_MODEL')

  if global._CC.config.wishlist.table
    +wishlistTable(items.filter(item => !item.archived), false)        
  else
    +wishlistBox(items.filter(item => !item.archived), false)
  
  br
  form(method='POST')#addWishlistItem
    .field
      label.label!=lang('WISHLIST_URL_LABEL')
      .control.has-icons-left
        input.input(
          type='text',
          name='itemUrlOrName',
          placeholder=lang('WISHLIST_URL_PLACEHOLDER')
        )
        span.icon.is-small.is-left
          i.fas.fa-gift
    .field
      label.label= lang('WISHLIST_NOTE')
      .control
        textarea.textarea(
          name='note',
          placeholder=lang('WISHLIST_OPTIONAL')
        )
    .field.is-grouped
      .control
        input.button(type='submit' value=(req.user._id === req.params.user ? lang('WISHLIST_ADD') : lang('WISHLIST_PLEDGE_ITEM')))
      if req.user._id !== req.params.user
        .control
          input.inline.button(type='submit', value=lang('WISHLIST_SUGGEST'), name='suggest')
  script(src=`${_CC.config.base}js/wishlist.js`)
  br
  details
    summary= lang('WISHLIST_ARCHIVED_ITEMS')
    if global._CC.config.wishlist.table
      +wishlistTable(items.filter(item => item.archived), true)
    else 
      +wishlistBox(items.filter(item => item.archived), true)

block print
  h1 #{req.params.user}'s Wishlist
  .print-gifts
    each item, index in items.filter(item => item.addedBy === req.params.user)
      .print-gift(style='page-break-inside: avoid;')
        if index > 0
          hr(style='margin-top: .5em; margin-bottom: .5em; background-color: black;')
        if item.price
          .tag
            i.fas.fa-tag(style='margin-right: .5em;')
            span= item.price
          span= ' '
        span.is-size-6.ugc= item.name
        span= ' '
        span.ugc.has-text-grey= item.url
        span.is-block Added by: #{item.addedBy}
        if item.note
          .box
            if _CC.config.wishlist.note.markdown
              span.is-block.ugc!= compiledNotes[item.id]
            else
              span.is-block.ugc= item.note
